openapi: 3.0.3
info:
  title: GYM AI Coach Backend API
  version: 1.0.0
  description: |
    RESTful API for user management, fitness profile, preferences, and measurements for the GYM AI Coach application.
servers:
  - url: https://api.gymcoach.com
    description: Production server
  - url: http://localhost:3000
    description: Local development server
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    User:
      type: object
      properties:
        id: { type: string }
        email: { type: string, format: email }
        name: { type: string }
        avatar: { type: string, format: uri, nullable: true }
        bio: { type: string, nullable: true }
        age: { type: integer, nullable: true }
        gender: { type: string, nullable: true }
        location: { type: string, nullable: true }
        timezone: { type: string, nullable: true }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
    UserFitnessProfile:
      type: object
      properties:
        currentWeight: { type: number, nullable: true }
        targetWeight: { type: number, nullable: true }
        bodyFatPercentage: { type: number, nullable: true }
        activityLevel: { type: string, nullable: true }
        workoutFrequency: { type: integer, nullable: true }
        primaryGoals: { type: array, items: { type: string } }
        secondaryGoals: { type: array, items: { type: string } }
        targetDate: { type: string, format: date-time, nullable: true }
        injuries: { type: array, items: { type: string } }
        medicalConditions: { type: array, items: { type: string } }
    UserPreferences:
      type: object
      properties:
        preferredWorkoutDays: { type: array, items: { type: string } }
        units: { type: string }
        workoutReminders: { type: boolean }
        profileVisibility: { type: string }
    UserMeasurement:
      type: object
      properties:
        id: { type: string }
        userId: { type: string }
        weight: { type: number, nullable: true }
        height: { type: number, nullable: true }
        bmi: { type: number, nullable: true }
        recordedAt: { type: string, format: date-time }
    ErrorResponse:
      type: object
      properties:
        success: { type: boolean, example: false }
        message: { type: string }
        errorCode: { type: string }
        details: { type: array, items: { type: string } }
  responses:
    UnauthorizedError:
      description: JWT is missing or invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            message: Unauthorized
            errorCode: UNAUTHORIZED
            details: []
    NotFoundError:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            message: Not found
            errorCode: NOT_FOUND
            details: []
security:
  - BearerAuth: []
paths:
  /api/users/profile:
    get:
      summary: Get complete user profile
      tags: [User]
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Complete user profile
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: true }
                  data:
                    type: object
                    properties:
                      user: { $ref: '#/components/schemas/User' }
                      fitnessProfile: { $ref: '#/components/schemas/UserFitnessProfile' }
                      preferences: { $ref: '#/components/schemas/UserPreferences' }
                      recentMeasurements: { $ref: '#/components/schemas/UserMeasurement' }
        '401': { $ref: '#/components/responses/UnauthorizedError' }
    put:
      summary: Update user profile
      tags: [User]
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string }
                bio: { type: string }
                age: { type: integer }
                gender: { type: string }
                location: { type: string }
                timezone: { type: string }
      responses:
        '200':
          description: Updated user profile
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: true }
                  data:
                    type: object
                    properties:
                      user: { $ref: '#/components/schemas/User' }
        '401': { $ref: '#/components/responses/UnauthorizedError' }
  /api/users/profile/avatar:
    post:
      summary: Upload user avatar
      tags: [User]
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                avatar:
                  type: string
                  format: binary
      responses:
        '200':
          description: Avatar updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: true }
                  message: { type: string }
                  data:
                    type: object
                    properties:
                      avatar: { type: string, format: uri }
        '401': { $ref: '#/components/responses/UnauthorizedError' }
  /api/users/preferences:
    get:
      summary: Get user preferences
      tags: [Preferences]
      security:
        - BearerAuth: []
      responses:
        '200':
          description: User preferences
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: true }
                  data:
                    type: object
                    properties:
                      preferences: { $ref: '#/components/schemas/UserPreferences' }
        '401': { $ref: '#/components/responses/UnauthorizedError' }
    put:
      summary: Update user preferences
      tags: [Preferences]
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserPreferences'
      responses:
        '200':
          description: Updated preferences
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: true }
                  message: { type: string }
                  data:
                    type: object
                    properties:
                      preferences: { $ref: '#/components/schemas/UserPreferences' }
        '401': { $ref: '#/components/responses/UnauthorizedError' }
  /api/users/measurements:
    get:
      summary: Get measurement history
      tags: [Measurements]
      security:
        - BearerAuth: []
      parameters:
        - in: query
          name: from
          schema: { type: string, format: date }
          required: false
        - in: query
          name: to
          schema: { type: string, format: date }
          required: false
      responses:
        '200':
          description: Measurement history
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: true }
                  data:
                    type: object
                    properties:
                      measurements:
                        type: array
                        items: { $ref: '#/components/schemas/UserMeasurement' }
        '401': { $ref: '#/components/responses/UnauthorizedError' }
    post:
      summary: Add new measurement
      tags: [Measurements]
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserMeasurement'
      responses:
        '201':
          description: Measurement created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: true }
                  message: { type: string }
                  data:
                    type: object
                    properties:
                      measurement: { $ref: '#/components/schemas/UserMeasurement' }
        '401': { $ref: '#/components/responses/UnauthorizedError' }
  /api/users/measurements/{id}:
    put:
      summary: Update measurement
      tags: [Measurements]
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserMeasurement'
      responses:
        '200':
          description: Measurement updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: true }
                  message: { type: string }
                  data:
                    type: object
                    properties:
                      measurement: { $ref: '#/components/schemas/UserMeasurement' }
        '401': { $ref: '#/components/responses/UnauthorizedError' }
    delete:
      summary: Delete measurement
      tags: [Measurements]
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      responses:
        '204':
          description: Measurement deleted
        '401': { $ref: '#/components/responses/UnauthorizedError' }
  /api/users/measurements/progress:
    get:
      summary: Get progress analytics
      tags: [Measurements]
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Progress analytics
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: true }
                  message: { type: string }
                  data:
                    type: object
                    properties:
                      latest: { $ref: '#/components/schemas/UserMeasurement' }
        '401': { $ref: '#/components/responses/UnauthorizedError' }
